book now change font, 


Center Align section 2 > cut heading to "CHOOSE YOUR SUPERCAR EXPERIENCE", 

Canda's best rated & fastest growing exotic car company 

remove red color of the track days, tour days, rentals, test drives
get ride of the line on top right border

change track days font

over 260000 happy customers > Our Satisfied Clients

