instagram, tiktok, youtube, facebook
1- tour will be 3 hours > epic tour > 7 hour grand rally tour
i- Epic Tour will run from 9 am to 1 pm, 2 pm to 6 pm
ii- 7 hour grand rally tour will run from 10 am to 5 pm. 

Grand rally tour happens on 2 times a month and on saturday. 
When a grand tour happen epic tour will not be available. 
Epic tour will be 4 to 5 cars. 
Grand tour will be 6 to 7 cars. 
Epic tour pricing will be > single seat 479.99$ 
> When we buy a pair or two seats > 899.99$
> grand tour single seat > 899.99$
> Two seats for grand tour > 1699.99$
> Tours can guarrenttee a ferrari or lamborghini, > Guarrenttee will cost 50$ for 
> Tour Insurance purchases > 50$ It means you can reschadule (Minimum 5 days befoore)
a tour free of charges 
otherwise you'll have to pay certain amount <100$ etc. Rainy Day inssurance. 
